.amain{
    margin-top: 83.8px;
}

.brandimg{
    width: 500px;
    margin-left: 10%;
    margin-right: 5%;
}
.dtitle{
    margin: 5%;
    font-size: 30px;
}
.brandname{
    margin: 10% 0% 0% 52.5%;
}
.noteimg{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.noteimg1{
    /* maring-left: 60%; */
}
.noteimg3{
    /* margin-right:30%; */
}
.notebest{    margin-left: 25%;

}
.textbest{
    margin-left:40%;
}
.middlecontent,
.thirdcontent 
{
    text-align: center;
}
.thirdcontent{
    margin-bottom: 5%;
}
.aimg{
    width: 250px;
    margin-left: 5%;
    margin-top: -170%;


}
.jb {
    border-top: 1px solid #444444;
    margin: 30px auto;
    width: 300px;        
    
  }

.brandcont{
    margin: 3% 0% 3% 10%;
}
.price,
.name
{
    text-align: center;
}
.c{
    font-family: 'AppleSDGothicNeoB';

}