@font-face {
    font-family: 'AppleSDGothicNeoB';
    src: url(./fonts/AppleSDGothicNeoB.ttf);
}
@font-face {
    font-family: 'AppleSDGothicNeoL';
    src: url(./fonts/AppleSDGothicNeoL.ttf);
}
@font-face {
    font-family: 'AppleSDGothicNeoM';
    src: url(./fonts/AppleSDGothicNeoM.ttf);
}
