.container {
  overflow: hidden;
  max-width: 100%;
  padding: 0;
}
.text1 {
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: 'AppleSDGothicNeoB';
}

p {
  font-family: 'AppleSDGothicNeoL';
  text-align: center;
}
.row {
  padding: 0 10rem;
}

.circle-container {
  padding: 1rem 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.brand {
  font-family: 'AppleSDGothicNeoL';
}