* {
    font-family: 'AppleSDGothicNeoB';
}
.amain{
    margin-top: 83.8px;
}
.link{
    text-decoration: none;
    color:white;
}
.link:hover {
    color: black; /* 마우스를 올렸을 때 파란색으로 변경 */
    text-decoration: none; /* 밑줄 제거 */
  }
.asection{
    background: #000;
    height: 100%;
}
.atitle,
.mtitle{
    font-family: 'AppleSDGothicNeoB';
    color: white;
}
.mtitle{
    font-size: 60px;
}
.btn1{
    margin-right: 2%;
}
.acont{
    margin-top: 5%;
    margin-left: 5%;
}
.aboutimg{
    width:521px;
    height:691px;
    margin-top: -23.3%;
    float: right;
}
.noteimg{
    width: 450px;
    display: block;
    margin: 0px auto;
}
.jb {
    border-top: 1px solid #444444;
    margin: 30px auto;
    width: 300px;
    height: 0px;
  }
  .jb:after {
    content: "◆";
    position: relative;
    top: -9px;
    left: calc( 50% - 8px );
  }
.perfumetext,
.notetext{
    font-family: 'AppleSDGothicNeoB';

    margin: 3%;
    font-size: 40px;
}

.perfumecontent{
    font-size: 20px;
}
.notecontent{
    font-size: 20px;
    margin: 3%;
}

.perfumename {
    text-align: center;
    margin-bottom: 2rem;
}
.perfumeimg,
.noteimg,
.edcimg,
.edpimg,
.edtimg,
.showerimg{
    display: block;
    margin: 0px auto;
}
.perfumeimg{
    margin-top: -10%;

}
.cont{
    font-size: 20px;
}
.c8{
    margin-bottom: 2%;
}