.main-page {
  height: 100%;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center;
  }

  .left-section,
  .right-section {
    width: 100%;
    height: 50rem;
  }
  
  .mainimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .gotoScent {
    font-family: 'AppleSDGothicNeoL';
    background-color: #fff;
    font-size: 15px;
    border: none;
    padding: 0.5rem 3rem;
    position: relative;
    top: -8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
/* 
  {`
    .main-page a {
      color: black !important;
    }
  `}
  {`
    .main-page header {
      background: none !important;
    }
  `}
  {`
    .shoppingbag, .logo {
      filter: invert(100%);
    }
  `} */

.ai {
  font-family: 'AppleSDGothicNeoB';
  text-align: center;
  margin: 5rem;
}
.keyword-buttons {
  font-family: 'AppleSDGothicNeoL';
  padding: 3rem;
}
.keyword {
  border-radius: 10rem;
  padding: 0.5rem 1rem;
  font-size: 18px;
  border: 2px solid #000;
  background-color: #fff;
  margin: 0.5rem;
}
.aiBtn {
  border-radius: 10rem;
  color: #000;
  width: 10rem;
  font-size: 20px;
  border: 2px solid #000;
  background-color: #fff;
  padding: 0.8rem;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}
.aiBtn:hover, .aiBtn:focus {
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
}


.p1 {
  margin-top: 3rem;
  font-size: 1rem;
  color: red;
}

.title {
  font-family: 'AppleSDGothicNeoB';
  text-align: left;
}
.text {
  text-align: left;
}
.scents {
  display: flex;
  flex-direction: row;
}
.btn {
  background-color: #fff;
  color: #000;
  border: #000 solid 0.5px;
  border-radius: 0;
  width: 100%;
  margin-top: 1rem;
  font-family: 'AppleSDGothicNeoB';
}
.btn:hover {
  cursor: pointer;
  background-color: #000 !important;
  color: #fff;
}

.row {
  padding: 5rem;
}
