h2 {
  font-family: 'AppleSDGothicNeoB';
}
.login {
  margin: 20rem;
}
.label {
  font-family: 'AppleSDGothicNeoL';
}
p {
  font-size: small;
}
.input {
  font-family: 'AppleSDGothicNeoL';
  border-radius: 0;
  margin-bottom: 1rem;
}
.btn {
  background-color: #000;
  border-radius: 0;
  width: 100%;
  margin-top: 1rem;
  font-family: 'AppleSDGothicNeoB';
  border: none !important;
}
.btn:hover, .btn:focus {
  cursor: pointer;
  background-color: #000 !important;
  color: #fff;
  border: none !important;
}

.container {
  padding: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container1 {
  padding: 15rem;
  width: 100%;
  display: flex;
   flex-direction: column;
  align-items: center;
  justify-content: center;
}
.justify-content-md-center {
  width: 100%;
}

@media (min-width: 500px) {
  .container, .container1 {
    padding: 15rem 0;
  }
  .signup-section {
    margin-top: 5rem;
  }
}
.form {
  width: 80%;
}
.confirm {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn1 {
  background-color: #000;
  border-radius: 0;
  width: 5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-family: 'AppleSDGothicNeoB';
  border: none !important;
}
.btn1:hover, .btn1:focus {
  cursor: pointer;
  background-color: #000 !important;
  color: #fff;
  border: none !important;
}