h2 {
  font-family: 'AppleSDGothicNeoB';
}
.login {
  margin: 20rem;
}
p, .label {
  font-family: 'AppleSDGothicNeoL';
}
.input {
  font-family: 'AppleSDGothicNeoL';
  border-radius: 0;
  margin-bottom: 1rem;
}
.btn {
  background-color: #000;
  border-radius: 0;
  width: 100%;
  margin-top: 1rem;
  font-family: 'AppleSDGothicNeoB';
  border: none !important;
}
.btn:hover, .btn:focus {
  cursor: pointer;
  background-color: #000 !important;
  color: #fff;
  border: none !important;
}

.container {
  padding: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container1 {
  padding: 15rem;
  width: 100%;
  display: flex;
   flex-direction: column;
  align-items: center;
  justify-content: center;
}
.justify-content-md-center {
  width: 100%;
}

@media (min-width: 600px) {
  .container {
    padding: 10rem auto;
  }
}
.form {
  width: 80%;
}