.container {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%; 
  width: 100vw; 
  margin: 0 auto; 
}
h2 {
  font-family: 'AppleSDGothicNeoB';
  text-align: center;
}

.btn {
  background-color: #000;
  border-radius: 0;
  width: 100%;
  margin-top: 1rem;
  font-family: 'AppleSDGothicNeoB';
  border: none !important;
}

.btn:hover, .btn:focus {
  cursor: pointer;
  background-color: #000 !important;
  color: #fff;
  border: none !important;
}

.title {
  font-family: 'AppleSDGothicNeoB';
}

.text {
  text-align: left;
  font-size: 18px;
}

.card {
  width: 50rem;
  margin-bottom: 1rem;
}
.justify-content-md-center {
  display: flex;
  flex-direction: column;
}
.col {
  margin-bottom: 3rem;
}
.img1 {
  width: 8rem;
  border: 1px #e0e0e0 solid;
  border-radius: 5px;
}
.order {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navigation {
  width: 10rem;
  border: 1px #e0e0e0 solid;
  border-radius: 5px;
  padding: 1rem;
  height: fit-content;
}
.nav {
  color: #636363;
  font-family: 'AppleSDGothicNeoL';
}
.nav:hover {
  color: #000;
}
.hr {
  margin-top: 3rem;
}