/* styles.css */

.header {
  font-family: 'AppleSDGothicNeoB';
height: 90px;
  position: absolute ;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000; /* 헤더의 배경색을 설정할 수 있습니다. */
  color: white; /* 헤더 텍스트 색상 설정 */
  padding: 10px; /* 원하는 여백 설정 */
}
.logo{
  padding: 0% 0% 0% 5%;
  height: 40.2px;
}
/* styles.css */

nav ul {
    list-style: none;
    padding: 8px;
    display: flex;
    justify-content: auto; /* 가운데 정렬 */

  }
  
  nav li {
    padding: 8px;
    padding-right: 3%;
    padding-left: 6.5%;
    font-size: 15px;}
  
nav a{
    text-decoration: none;
    color: white;
}



.footer {
  font-family: 'AppleSDGothicNeB';

  /* position: absolute !important; */
  position : absolute;
  transform : translateY(300%);
  height: 412px;
  bottom: 0;
  left: 0px;
  width: 100%;
  background-color: #000; /* 푸터의 배경색을 설정할 수 있습니다. */
  color: white; /* 푸터 텍스트 색상 설정 */
  padding: 10px; /* 원하는 여백 설정 */
}
.col-md-4{
  justify-content: auto; /* 가운데 정렬 */

}
.footerlogo{
  margin-left: 38.5%;
margin-top: 1.5%;
    width: 280px;
    /* margin: 0px auto; */
    padding: 0px;
    /* margin-right: 4px; */
}
.text{
  margin-left: 40.5%;

}
.word-container {
  display: flex;
  gap: 8%;
  margin: 5%;
}
.ftext {
  padding-left: 26%;}

  .ft1{
    padding-left: 3%;
  }
  .ft2{
    padding-left: 15%;
  }
.scent , .about ,  .buy{
  padding-left: 0%;
}
  .shoppingbag{
    width: 45%;
    padding: 5% 0% 0% 0%;
  }
  .my{
    padding-left: 38%;
    padding-right: 0%;
  }
  .logins{
    margin: 0%;
    padding-left: 2%;
  }
